 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 647px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1120px;
  margin: 20px auto 20px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 607px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 347px;
  object-position: 50% 0.9%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #1c1c1c;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9fafc;
  font-family: PlusJakartaDisplay, sans-serif;
  color: #1e1f24;
  font-size: 16px;
  line-height: 1.5;
}


.heading-1-large {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.layout {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.display-none {
  display: none;
}

.hero-section {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  padding: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container-large-paragraph {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.container-paragraph {
  position: relative;
  width: 100%;
  max-width: 440px;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.content-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.caption {
  position: relative;
  margin-bottom: 60px;
  font-size: 70%;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.card {
  max-width: 440px;
  padding: 45px 30px;
  border-radius: 6px;
  background-color: #fff;
}

.card-logo {
  height: 60px;
  margin-bottom: 20px;
}

.grid {
  position: relative;
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bg-about-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 75vh;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 6px;
  background-color: #fff;
}

.inner-card {
  position: relative;
  z-index: 5;
  width: 40%;
  max-width: 440px;
  padding: 20px;
  border-radius: 4px 4px 0px;
  background-color: #fff;
  text-align: left;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.section-under {
  position: relative;
  z-index: 2;
  margin-top: -100vh;
}

.hover-line-grow {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}

.min-height {
  position: relative;
  min-height: 225vh;
}

.white-block {
  position: relative;
  z-index: 10;
  overflow: hidden;
  background-color: #f9fafc;
}

.heading-2-medium {
  max-width: 640px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.promise-grid {
  width: 100%;
  height: 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #ffc754;
  color: #fff;
}

.margin-bottom {
  margin-bottom: 20px;
}

.line-left {
  position: absolute;
  left: 0%;
  top: 60px;
  right: auto;
  bottom: 60px;
  width: 1px;
  background-color: #fff;
  opacity: 0.2;
}

.text-gray {
  color: #c0ccda;
}

.promise-section {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40% 60px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.numbers {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.text-lead {
  max-width: 640px;
  margin-bottom: 30px;
  font-size: 140%;
}

.bg-green {
  background-color: #5cb988;
  color: #fff;
}

.bg-yellow {
  background-color: #ffc754;
  color: #fff;
}

.dribbble-image-3 {
  position: absolute;
}

.dribbble-image-5 {
  position: absolute;
}

.dribbble-image-4 {
  position: absolute;
}

.dribbble-image-1 {
  position: absolute;
}

.dribbble-image-2 {
  position: absolute;
}

.dribbble-images {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dribbble-section {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5cb988;
  color: #fff;
  text-align: center;
}

.dribbble-image-size {
  width: 50vw;
}

.hover-line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background-color: #1e1f24;
}

.hover-line.bg-gray {
  background-color: #c0ccda;
}

.expand-icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 204, 218, 0.6);
  border-radius: 1000px;
  color: #fff;
  line-height: 1;
  font-weight: 300;
  text-align: center;
}

.accordion-space-grid {
  position: relative;
  z-index: 4;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 45px 30px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 6px;
  background-color: #fff;
  text-align: left;
}

.accordion-wrapper {
  position: relative;
  z-index: 3;
  overflow: hidden;
  width: 100%;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  color: #1e1f24;
  cursor: pointer;
}

.accordion-content {
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-align: left;
}

.accordion-line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background-color: rgba(192, 204, 218, 0.6);
}

.accordion-trigger {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  cursor: pointer;
}

.accordion-title {
  width: 75%;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: 0px;
}

.accordion-text {
  margin-top: 20px;
}

.button-label {
  position: relative;
  z-index: 2;
}

.slide-tab {
  padding: 0px;
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.25);
  font-size: 10px;
  line-height: 4;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.slide-tab.w--current {
  background-color: transparent;
  color: #fff;
}

.portfolio-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tab-line {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.portfolio-image {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.tab-line-bg {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 4px;
  background-color: hsla(0, 0%, 100%, 0.25);
}

.tabs-content {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tabs-menu {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.portfolio-grid {
  width: 100%;
  padding: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #1e1f24;
  color: #fff;
}

.tab-pane {
  width: 100%;
}

.portfolio-title {
  max-width: 640px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.bg-gray {
  background-color: #1e1f24;
  color: #fff;
}

.title-section {
  margin-bottom: 30px;
}

.portfolio-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.tags-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tag {
  margin: 5px 4px;
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.25;
}

.portfolio-list {
  overflow: hidden;
  border-radius: 6px;
}

.demo-column-grid {
  width: 100%;
  margin-bottom: 16px;
  grid-auto-flow: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.class {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #0071e3;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.demo-box {
  overflow: hidden;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 1000ms ease;
  transition: background-color 1000ms ease;
}

.social-button.twitter {
  background-image: url('../images/twitter-white.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.social-button.twitter:hover {
  background-color: #1da1f2;
}

.social-button.instagram {
  background-image: url('../images/instagram-white.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.social-button.instagram:hover {
  background-color: #c63288;
}

.social-button.facebook {
  background-image: url('../images/facebook-white.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.social-button.facebook:hover {
  background-color: #4267b2;
}

.social-button.pinterest {
  background-image: url('../images/pinterest-white.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.social-button.pinterest:hover {
  background-color: #e60023;
}

.button {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 5px;
  padding: 20px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #c0ccda;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #fff;
  font-size: 80%;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  color: #fff;
}

.button-icon {
  position: relative;
  z-index: 2;
  width: 16px;
  margin-right: 8px;
}

.button-hover {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 0%;
  background-color: #5cb988;
}

.button-hover.bg-yellow {
  background-color: #ffc754;
}

.contact-buttons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  font-size: 80%;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(35, 35, 50, 0);
}

.navbar-button {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 40px;
  margin: 5px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(192, 204, 218, 0.6);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-social-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 100px;
  background-color: rgba(192, 204, 218, 0.6);
  -webkit-transition: background-color 1000ms ease;
  transition: background-color 1000ms ease;
}

.navbar-social-button.instagram {
  background-image: url('../images/instagram-white.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.navbar-social-button.instagram:hover {
  background-color: #c63288;
}

.navbar-social-button.facebook {
  background-image: url('../images/facebook-white.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.navbar-social-button.facebook:hover {
  background-color: #4267b2;
}

.separator-links-footer {
  width: 1px;
  height: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #c0ccda;
  opacity: 0.5;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.link-block {
  position: relative;
  overflow: hidden;
  color: #c0ccda;
}

.dribbble-content {
  position: relative;
  width: 100%;
  max-width: 440px;
}

.images-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.style-guide-grid {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.style-guide-spacing {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.style-guide-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field {
  min-height: 60px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 204, 218, 0.6);
}

.text-field:focus {
  border-color: #63adf2;
}

.submit-button {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 20px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c0ccda;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #fff;
  font-size: 80%;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.submit-button:hover {
  color: #fff;
}

.success {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(92, 185, 136, 0.3);
  background-color: rgba(92, 185, 136, 0.25);
  color: #1e1f24;
  text-align: left;
}

.error {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(236, 71, 71, 0.3);
  background-color: rgba(236, 71, 71, 0.25);
}

.image-logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.preloader-image {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1440px) {
  p {
    margin-bottom: 1vw;
  }

  .body {
    font-size: 1vw;
  }

  .heading-1-large {
    font-size: 4.8vw;
  }

  .hero-section {
    padding: 6vw 12vw;
  }

  .container {
    max-width: none;
  }

  .container-large-paragraph {
    max-width: 45vw;
  }

  .container-paragraph {
    max-width: 30vw;
  }

  .section {
    padding: 6vw;
  }

  .caption {
    margin-bottom: 6vw;
  }

  .card-title {
    margin-bottom: 6vw;
    font-size: 2.6vw;
  }

  .card {
    max-width: 30vw;
    padding: 4.5vw 3vw;
    border-radius: 1vw;
  }

  .card-logo {
    height: 3vw;
    margin-bottom: 2vw;
  }

  .grid {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
  }

  .about-card {
    padding: 1vw;
    border-radius: 1vw;
  }

  .inner-card {
    max-width: 30vw;
    padding: 1vw;
    border-radius: 0.625vw 0.625vw 0px;
  }

  .heading-3 {
    margin-bottom: 2vw;
    font-size: 2vw;
  }

  .heading-2-medium {
    max-width: 45vw;
    font-size: 2.6vw;
  }

  .margin-bottom {
    margin-bottom: 2vw;
  }

  .line-left {
    top: 3vw;
    bottom: 3vw;
  }

  .promise-section {
    padding-right: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
  }

  .numbers {
    font-size: 4.8vw;
  }

  .text-lead {
    max-width: 45vw;
    margin-bottom: 3vw;
  }

  .dribbble-section {
    padding: 6vw 12vw;
  }

  .expand-icon {
    width: 3vw;
    height: 3vw;
    padding: 1vw;
  }

  .accordion-space-grid {
    padding: 4.5vw 3vw;
    border-radius: 1vw;
  }

  .accordion-title {
    font-size: 1.6vw;
  }

  .portfolio-grid {
    padding: 6vw;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
  }

  .portfolio-title {
    max-width: 45vw;
    margin-bottom: 2vw;
    font-size: 2.6vw;
  }

  .title-section {
    margin-bottom: 3vw;
  }

  .portfolio-section {
    padding: 6vw;
  }

  .portfolio-list {
    border-radius: 1vw;
  }

  .social-links {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .social-button {
    width: 4vw;
    height: 4vw;
  }

  .button {
    padding: 2vw 3vw;
  }

  .contact-buttons-wrapper {
    margin-bottom: 3vw;
  }

  .dribbble-content {
    max-width: 30vw;
  }

  .utility-page-content {
    width: 20vw;
  }

  .text-field {
    height: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .submit-button {
    padding: 2vw 3vw;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: none;
  }

  .container-large-paragraph {
    width: 90%;
    max-width: none;
  }

  .container-paragraph {
    width: 90%;
    max-width: none;
  }

  .card {
    max-width: none;
  }

  .about-card {
    width: 100%;
  }

  .section-under {
    margin-top: 0vh;
  }

  .sticky {
    position: relative;
  }

  .min-height {
    min-height: auto;
  }

  .promise-grid {
    height: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .margin-bottom {
    margin-bottom: 30px;
  }

  .line-left {
    left: 60px;
    top: 0%;
    right: 60px;
    bottom: auto;
    width: auto;
    height: 1px;
  }

  .promise-section {
    padding-top: 120px;
  }

  .dribbble-image-3 {
    position: relative;
  }

  .dribbble-image-5 {
    position: relative;
    width: 100%;
  }

  .dribbble-image-4 {
    position: relative;
    width: 100%;
  }

  .dribbble-image-1 {
    position: relative;
  }

  .dribbble-image-2 {
    position: relative;
  }

  .dribbble-images {
    position: relative;
    display: -ms-grid;
    display: grid;
    margin-bottom: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .dribbble-section {
    height: auto;
  }

  .dribbble-image-size {
    width: 100%;
  }

  .hover-line {
    display: none;
  }

  .expand-icon {
    top: 0rem;
  }

  .accordion-space-grid {
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .accordion-wrapper {
    padding-bottom: 20px;
  }

  .accordion-content {
    padding-left: 0px;
  }

  .accordion-trigger {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0px;
  }

  .portfolio-tabs {
    width: 100%;
  }

  .portfolio-title {
    font-size: 26px;
  }

  .demo-column-grid {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .social-links {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contact-buttons-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 80px;
    border-bottom-style: none;
    background-color: rgba(192, 204, 218, 0.6);
  }

  .dribbble-content {
    width: 90%;
    max-width: none;
  }

  .style-guide-links {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .heading-1-large {
    font-size: 32px;
  }

  .hero-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container-large-paragraph {
    width: 100%;
    max-width: none;
  }

  .container-paragraph {
    width: 100%;
    max-width: none;
  }

  .section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .card-title {
    margin-bottom: 30px;
    font-size: 26px;
  }

  .card-logo {
    height: 50px;
  }

  .grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .bg-about-image {
    position: relative;
  }

  .about-card {
    height: 60vh;
    padding: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .inner-card {
    width: 100%;
    max-width: none;
    padding: 15px;
    border-bottom-right-radius: 4px;
  }

  .heading-3 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .heading-2-medium {
    max-width: none;
    font-size: 26px;
  }

  .line-left {
    left: 30px;
    right: 30px;
  }

  .promise-section {
    padding: 30px;
  }

  .numbers {
    font-size: 32px;
  }

  .dribbble-images {
    display: none;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dribbble-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .expand-icon {
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  .accordion-space-grid {
    padding: 20px;
    grid-auto-columns: auto;
  }

  .accordion-content {
    padding-right: 0px;
    padding-left: 0px;
  }

  .portfolio-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .portfolio-image {
    height: auto;
  }

  .tabs-menu {
    position: relative;
  }

  .portfolio-grid {
    padding: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .portfolio-title {
    max-width: none;
    font-size: 26px;
  }

  .title-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .portfolio-section {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .portfolio-list {
    border-radius: 0px;
  }

  .social-button {
    width: 50px;
    height: 50px;
  }

  .contact-buttons-wrapper {
    margin-bottom: 30px;
  }

  .nav-menu {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .brand {
    position: relative;
  }

  .navbar-button {
    margin: 0px;
  }

  .navbar-social-button {
    display: none;
  }

  .dribbble-content {
    width: 100%;
    max-width: none;
  }

  .images-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .style-guide-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .success {
    padding: 10px;
    font-size: 14px;
  }

  .error {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .container-large-paragraph {
    width: 100%;
  }

  .container-paragraph {
    width: 100%;
  }

  .expand-icon {
    display: none;
  }

  .accordion-title {
    width: 100%;
  }

  .demo-column-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .demo-box {
    padding: 16px;
  }

  .social-links {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .button {
    width: 100%;
  }

  .contact-buttons-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .nav-menu-social {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .navbar-button {
    width: 100%;
  }

  .separator-links-footer {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .dribbble-content {
    width: 100%;
  }

  .style-guide-links {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .submit-button {
    width: 100%;
  }
}

#w-node-_1bdf95eb-daf4-4ba4-aa61-eb8a40c7720f-85dc5e59 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_02b3dddc-fd3b-f612-b9e4-d2fb5c67fdef-85dc5e59 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e0425058-e0d0-592b-0138-d2b7577e1781-85dc5e59 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_1b38e581-4cd1-ae2f-5385-d0f0a170e5d9-85dc5e59 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_1b38e581-4cd1-ae2f-5385-d0f0a170e609-85dc5e59 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_1b38e581-4cd1-ae2f-5385-d0f0a170e639-85dc5e59 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@font-face {
  font-family: 'PlusJakartaDisplay';
  src: url('../fonts/PlusJakartaDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'PlusJakartaDisplay';
  src: url('../fonts/PlusJakartaDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'PlusJakartaDisplay';
  src: url('../fonts/PlusJakartaDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'PlusJakartaDisplay';
  src: url('../fonts/PlusJakartaDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. CUSTOM FOR WEBFLOW: Removed the input[type="submit"] selector to reduce
 *    specificity and defer to the .w-button selector
 */
button,
html input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. CUSTOM FOR WEBFLOW: changed from `textfield` to `none` to normalize iOS rounded input
 * 2. CUSTOM FOR WEBFLOW: box-sizing: content-box rule removed
 *    (similar to normalize.css >=4.0.0)
 */
input[type='search'] {
  -webkit-appearance: none;
  /* 1 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

